/* global styling */
@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Proza Libre', sans-serif;
  margin: 0;
}

a, p, div, footer, h1, h2, h3, h4, h5, h6, hr, br {
  margin: 0.3em;
}



/* styling navbar */
.topnav {
  list-style-type: none;
  overflow: hidden;
  background-color: #e6e6e6;
  position: sticky;
  text-align: right;
  width: 100%;
  margin: 0 !important;
    }

.topnav  a {
  display: inline-block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  
}

.topnav a:hover {
  background-color: #a6a6a6;
  color: black;
}
    
.topnav a.active {
  background-color: #1a1a1a;
  color: white

}

.topnav .icon {  
  display: none;
}

@media screen and (max-width: 500px) {
      .topnav a {
      float: none;
      display: block;
    }
}
    


/* styling divs */

/* the div class "row" is both for issues and articles */
.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* for centering 3 blocks in the center */
  /* justify-content: space-between;  for large space in between */
}



/******* DIVS FOR ISSUES GRID/TABLE *************************************************************************/

/* the div class "issue-block" is only for issues */
.issue-block {
  width: 30%;
  margin: 1%;
  position: relative;
  text-align: center;
  overflow: hidden;
}

/* the div class "t-block" is for the black rectangle of text for issues */
.t-block {
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.4);
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.t-block:hover {font-size: 110%; transition: 0.50s;}



/***** DIVS FOR ARTICLES GRID/TABLE ************************************************************************/

/* the div class "block" is only for articles */
.block {
  width: 30%;
  margin: 1%;
  position: relative;
  text-align: center;
  overflow: hidden;
  line-height: 140%;
}

.block p {
  line-height: 180%;
}

/* the div class "artTable" is for images of the articles grid */
/* this is the styling for the zoom effect on hover */
.block .artTable {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.block:hover .artTable img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.block .artTable img {
  width: 100%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* styling for the hover effect of the hr enlargement */
.block hr {
  border: 0;
  border-top: 2px solid black;
  width: 0;
  position: absolute; /* è ciò che fa partire l'animazione dal centro */        
  margin: 0;
  transition: width 1s ease-out;
  -webkit-transition: width 1s ease-out;
  left: 50%;
  right: 50%;
  visibility: hidden;
}

.block:hover hr {
  animation: double 2s .2s ease-out;
  -webkit-animation: double 2s .2s ease-out;
  visibility: visible;
}

@keyframes double {
    0% {width: 0;}
    100% {width: 70%; right: 30%; left: 15%;}
}


/* the div class "presentation" is only for the articles */
.presentation {
  position: relative;
  width: 30%;
  margin: 1%;
}

.presentation-text {
  position: absolute;
  transform: translateY(-35%);
  margin-right: 1%;
  margin-left: 5%;
}

.presentation img {
   border-radius: 50%; 
   width: 50%;
   margin-top: 5%;
}

@media /* only */ screen and (max-width: 820px){
  .presentation-text {
    transform: translateY(-25%);
  }
}




/* styling the hr */
#new {
  display: block;
  margin-top: 4em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: black;
}

#new2 {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.5px;
  border-color: gray;
}



/* adapting pictures */

/* PC */
/* @media only screen and (min-width: 701px){ */

  .land{
    width: 100%;
    float: left;
    padding-bottom: 15px;
  }

  .land img{
    width: 100%;
  }

  .cutPortrait {
    padding-bottom: 15px;
  }


  .cutPortrait img{
    object-fit: cover;
    width: 100%;
  }

  .artTable img{
    width:100%;
    height:225px;
  }

  .issueTable img{
    width:100%; 
    height:380px;
  }



/* TABLET */
/* @media only screen and (max-width: 700px) */
  @media /* only */ screen and (max-width: 700px){

    .row {
      width: 100%;
      margin: 0 auto;
      float: none;
      display: flex;
    }
       
    .presentation {
    width: 50%;
    margin: 1%;
    }

    .block {
    width: 50%;
    }

    /*.presentation img {
       position: absolute;
       top: 25%;
       margin-top: 25%;
    }*/

    .presentation-text {
      transform: translateY(-18%);
    }

    .artTable img {  
      padding: 5px;
      max-height: 400px;
      margin-top: 3em;
      margin-bottom: 0em;
      margin-left: 0em;
      margin-right: 0em;
    }
   
}




/* SMARTPHONE */

  @media screen and (max-width: 550px){

    .row {
  	  width: 100%;
  	  margin: 0 auto;
  	  float: none;
      display: block;
  	}

    .issue-block, .block {
   	  width: 100%;
  	}

  	.block h4{
  		display: none;
  	}

  	.presentation {
    	width: 100%;
    	position: center;
    	text-align: center;
    	display: block;
  	}

  	.presentation-text {
    	vertical-align: middle;
    	text-align: justify;
    	transform: translateY(-100%);
      margin-left: 1%;
  	}

  	.presentation-text h3{
  		text-align: center;
  	}

  	.land{
    }

    .land img {
      object-fit: cover;
      width: 100%;
    }

  	.artTable img {
  	  display: block;
      width: 100%; 
      max-height: 400px;
      margin-top: 3em;
      margin-bottom: 0em;
      margin-left: 0em;
      margin-right: 0em;
  	}

  	.issueTable img {
  	  display: block;
      width: 100%; 
      max-height:350px;
      margin-bottom: 50px;
      margin-top: 4em;
      margin-left: 0em;
      margin-right: 0em;
      }
  }


/* footer */
.footer {
  text-align: justify;
  text-align: center;
  padding: 1em;
  background: rgba(38, 38, 38);
  color: white;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
}
.footer a{text-decoration: none;}
.footer a:link{color:white;}
.footer a:hover{color:white;}
.footer a:active{color:white;}
.footer a:visited{color:white;}





/* tables cells separated equally: non servono più
.issues tr td {
  width:33.3333%;
}

.articles tr td {
  width:33.3333%;
}

Container holding the image and the text: non servono più 
.container {
  position: relative;
  display: inline-block;
}

Bottom right text
.text-block {
  position: absolute;
  bottom: 25%; 
  right: 35%; 
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.2);
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block:hover, .text-block:active {font-size: 110%; transition: 0.50s;}

*/