
body {
  font-family: 'Proza Libre', sans-serif;
  margin: 0;
}

a, p, div, footer, h1, h2, h3, h4, h5, h6, hr, br {
  margin: 0.3em;
}

/* styling divs of index.html*/

.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* for centering 3 blocks in the center */
  /* justify-content: space-between;  for large space in between */
}

.block {
  width: 30%;
  margin: 1%;
  position: relative;
  text-align: center;
}

.t-block {
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.4);
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.t-block:hover {font-size: 110%; transition: 0.50s;}

.presentation {
  position: relative;
  width: 30%;
  margin: 1%;
}

.presentation-text {
  position: absolute;
  transform: translate(5%, -70%);
  margin-right: 0.3em;
}

.presentation img{
   border-radius: 50%; 
   width: 50%;
}

#new {
  display: block;
  margin-top: 4em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: black;
}

#new2 {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.5px;
  border-color: gray;
}

/* adattamento immagini*/


  .land{
    width: 100%;
    float: left;
    padding-bottom: 28px;
  }

  .land img{
    width: 100%
  }

  .cutPortrait img{
    object-fit: cover;
    width: 100%
  }

/*  @media only screen and (min-width: 701px){ */

  .artTable img{
    width:370px;
    height:225px;
  }

  .issueTable img{
    width:380px; 
    height:380px;
  }
/*}*/


/* 
@media only screen and (max-width: 700px){
  .presentation {
  position: relative;
  width: 99%;
  margin: 1%;
}
*/

  @media screen and (max-width: 500px){

  	.row {
  	width: 100%;
  	margin: 0 auto;
	}

  	.block {
 	width: 100%;
	display: block;
	text-align: center;
	}

	.presentation {
  	width: 100%;
	}

	.artTable img{
  	width:250px;
  	height:170px;
	}

	.issueTable img{
    width:250px; 
    height:250px;
    }
}


.footer { 
  text-align: justify;
  padding: 1em;
  background: rgba(38, 38, 38);
  color: white;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
}




/* tables cells separated equally: non servono più
.issues tr td {
  width:33.3333%;
}

.articles tr td {
  width:33.3333%;
}

Container holding the image and the text: non servono più 
.container {
  position: relative;
  display: inline-block;
}

Bottom right text
.text-block {
  position: absolute;
  bottom: 25%; 
  right: 35%; 
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.2);
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block:hover, .text-block:active {font-size: 110%; transition: 0.50s;}

*/